@font-face {
	font-family: "zurich_condensed_bt";
	src: url("../fonts/zurich__condensed_bt-webfont.eot");
	src: url("../fonts/zurich__condensed_bt-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/zurich__condensed_bt-webfont.woff") format("woff"), url("../fonts/zurich__condensed_bt-webfont.ttf") format("truetype"), url("../fonts/zurich__condensed_bt-webfont.svg#zurich_condensed_bt") format("svg");
}

@font-face {
	font-family: "MyriadProRegular";
	src: url("../fonts/MyriadProRegular.eot");
	src: url("../fonts/MyriadProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProRegular.woff") format("woff"), url("../fonts/MyriadProRegular.ttf") format("truetype");
}

@font-face {
	font-family: "Klavika Medium";
	src: url("http://db.onlinewebfonts.com/t/acac70fdb7ecef747e2185d85dbbbbfd.eot");
	src: url("http://db.onlinewebfonts.com/t/acac70fdb7ecef747e2185d85dbbbbfd.eot?#iefix") format("embedded-opentype"), url("http://db.onlinewebfonts.com/t/acac70fdb7ecef747e2185d85dbbbbfd.woff2") format("woff2"), url("http://db.onlinewebfonts.com/t/acac70fdb7ecef747e2185d85dbbbbfd.woff") format("woff"), url("http://db.onlinewebfonts.com/t/acac70fdb7ecef747e2185d85dbbbbfd.ttf") format("truetype"), url("http://db.onlinewebfonts.com/t/acac70fdb7ecef747e2185d85dbbbbfd.svg#Klavika Medium") format("svg");
}

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */

html {
	font-family: sans-serif; /* 1 */
	-ms-text-size-adjust: 100%; /* 2 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
	margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
	display: inline-block; /* 1 */
	vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
	display: none;
	height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */

[hidden],
template {
	display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
	background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */

a:active,
a:hover {
	outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
	border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
	font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
	font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
	font-size: 2em;
	margin: .67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
	background: #ff0;
	color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -.5em;
}

sub {
	bottom: -.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
	border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
	overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
	margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
	box-sizing: content-box;
	height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
	overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
	color: inherit; /* 1 */
	font: inherit; /* 2 */
	margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
	overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
	text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button; /* 2 */
	cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
	cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
	line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */

input[type="search"] {
	-webkit-appearance: textfield; /* 1 */
	box-sizing: content-box; /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: .35em .625em .75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
	border: 0; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
	overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
	font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.ellipsis {
	white-space: nowrap; /* 1 */
	text-overflow: ellipsis; /* 2 */
	overflow: hidden;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

* {
	max-height: 1000000px;
}

body {
	color: #333;
	background: #fff;
	font: 16px/1.2 "Arial", "Helvetica Neue", "Helvetica", sans-serif;
	min-width: 320px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img {
	max-width: 100%;
	height: auto;
}

.gm-style img {
	max-width: none;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.h {
	font-family: inherit;
	font-weight: bold;
	margin: 0 0 .5em;
	color: inherit;
}

h1,
.h1 {
	font-size: 30px;
}

h2,
.h2 {
	font-size: 27px;
}

h3,
.h3 {
	font-size: 24px;
}

h4,
.h4 {
	font-size: 21px;
}

h5,
.h5 {
	font-size: 17px;
}

h6,
.h6 {
	font-size: 15px;
}

p {
	margin: 0 0 1em;
}

a {
	color: #39f;
}

a:hover,
a:focus {
	text-decoration: none;
}

form,
fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="search"],
input[type="password"],
textarea {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	box-sizing: border-box;
	border: 1px solid #999;
	padding: .4em .7em;
}

input[type="text"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #999;
}

input[type="text"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
textarea::-moz-placeholder {
	opacity: 1;
	color: #999;
}

input[type="text"]:-moz-placeholder,
input[type="tel"]:-moz-placeholder,
input[type="email"]:-moz-placeholder,
input[type="search"]:-moz-placeholder,
input[type="password"]:-moz-placeholder,
textarea:-moz-placeholder {
	color: #999;
}

input[type="text"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #999;
}

input[type="text"].placeholder,
input[type="tel"].placeholder,
input[type="email"].placeholder,
input[type="search"].placeholder,
input[type="password"].placeholder,
textarea.placeholder {
	color: #999;
}

select {
	-webkit-border-radius: 0;
}

textarea {
	resize: vertical;
	vertical-align: top;
}

button,
input[type="button"],
input[type="reset"],
input[type="file"],
input[type="submit"] {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	cursor: pointer;
}

input[type="search"],
input[type="email"],
input[type="name"] {
	float: left;
	font-size: 12px;
	line-height: 14px;
	color: #666;
	width: 65%;
	margin: 0;
	padding: 5px 7px;
	border: 3px solid #e8e5de;
	border-radius: 7px;
	box-shadow: inset 0 0 2px #000;
	background: -webkit-linear-gradient(top, white 0%, #f4f3f1 100%);
	background: linear-gradient(to bottom, white 0%, #f4f3f1 100%);
	outline: 0;
}

input[type="submit"] {
	float: right;
	width: 66px;
	margin: 3px 0 0 0;
	border: solid 1px #0c932f;
	border-width: 1px 0 0 1px;
	box-shadow: inset 1px 1px 1px #81de41, 0 0 0 3px #e8e5de;
	border-radius: 4px;
	background: -webkit-linear-gradient(top, #66c13e 0%, #0f941a 100%);
	background: linear-gradient(to bottom, #66c13e 0%, #0f941a 100%);
	color: #fff;
	text-shadow: 0 -2px #1e7e20;
	font: 12px/17px "Klavika Medium";
	text-transform: uppercase;
	padding: 3px 9px;
}

input[type="submit"]:hover {
	opacity: .7;
}

input[type="email"] {
	margin: 0 0 7px;
	width: 100%;
}

.row input[type="search"],
.row input[type="name"] {
	float: left;
	width: 65%;
	margin: 0;
}

/* custom select styles */

.jcf-select {
	display: inline-block;
	vertical-align: top;
	position: relative;
	border: 3px solid #e8e5de;
	border-radius: 7px;
	box-shadow: inset 0 0 2px #000;
	background: -webkit-linear-gradient(top, white 0%, #f4f3f1 100%);
	background: linear-gradient(to bottom, white 0%, #f4f3f1 100%);
	margin: 0 0 12px;
	min-width: 197px;
}

.jcf-select select {
	z-index: 1;
	left: 0;
	top: 0;
}

.jcf-select .jcf-select-text {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	cursor: default;
	display: block;
	font-size: 11px;
	line-height: 23px;
	color: #999;
	margin: 0 35px 0 8px;
}

.jcf-select .jcf-select-opener {
	position: absolute;
	text-align: center;
	background: #615b49;
	width: 21px;
	bottom: 3px;
	right: 4px;
	top: 3px;
	border-radius: 3px;
}

.jcf-select .jcf-select-opener:after {
	content: "";
	position: absolute;
	border: 6px solid transparent;
	border-top: 6px solid #fff;
	bottom: 0;
	left: 28%;
}

body > .jcf-select-drop {
	position: absolute;
	margin: -1px 0 0;
	z-index: 9999;
}

body > .jcf-select-drop.jcf-drop-flipped {
	margin: 1px 0 0;
}

.jcf-select .jcf-select-drop {
	position: absolute;
	margin-top: 0;
	z-index: 9999;
	top: 100%;
	left: -1px;
	right: -1px;
	border: 1px solid red;
}

.jcf-select .jcf-drop-flipped {
	bottom: 100%;
	top: auto;
}

.jcf-select-drop .jcf-select-drop-content {
	border: 3px solid #6b685e;
	border-radius: 5px;
}

/* multiple select styles */

.jcf-list-box {
	overflow: hidden;
	display: inline-block;
	border: 1px solid #b8c3c9;
	min-width: 200px;
	margin: 0 15px;
}

/* select options styles */

.jcf-list {
	display: inline-block;
	vertical-align: top;
	position: relative;
	background: #fff;
	line-height: 14px;
	font-size: 12px;
	width: 100%;
}

.jcf-list .jcf-list-content {
	vertical-align: top;
	display: inline-block;
	overflow: auto;
	width: 100%;
}

.jcf-list ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.jcf-list ul li {
	overflow: hidden;
	display: block;
}

.jcf-list .jcf-overflow {
	overflow: auto;
}

.jcf-list .jcf-option {
	white-space: nowrap;
	overflow: hidden;
	cursor: default;
	display: block;
	padding: 5px 9px;
	color: #656565;
	height: 1%;
}

.jcf-list .jcf-disabled {
	background: #fff !important;
	color: #aaa !important;
}

.jcf-select-drop .jcf-hover,
.jcf-list-box .jcf-selected {
	background: #e6e6e6;
	color: #000;
}

.jcf-list .jcf-optgroup-caption {
	white-space: nowrap;
	font-weight: bold;
	display: block;
	padding: 5px 9px;
	cursor: default;
	color: #000;
}

.jcf-list .jcf-optgroup .jcf-option {
	padding-left: 30px;
}

/* common custom form elements styles */

.jcf-disabled {
	background: #ddd !important;
}

.jcf-focus,
.jcf-focus * {
	color: #000;
}

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom. */

html {
	font-family: sans-serif; /* 1 */
	-ms-text-size-adjust: 100%; /* 2 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin. */

body {
	margin: 0;
}

/* HTML5 display definitions
 * ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11. */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera. */

audio,
canvas,
progress,
video {
	display: inline-block; /* 1 */
	vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices. */

audio:not([controls]) {
	display: none;
	height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22. */

[hidden],
template {
	display: none;
}

/* Links
 * ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10. */

a {
	background-color: transparent;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}

a:active,
a:hover {
	outline: 0;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state. */

/* Text-level semantics
 * ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome. */

abbr[title] {
	border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome. */

b,
strong {
	font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome. */

dfn {
	font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome. */

h1 {
	font-size: 2em;
	margin: .67em 0;
}

/**
 * Address styling not present in IE 8/9. */

mark {
	background: #ff0;
	color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers. */

small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers. */

sub {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
	top: -.5em;
}

sub {
	bottom: -.25em;
}

/* Embedded content
 * ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10. */

img {
	border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11. */

svg:not(:root) {
	overflow: hidden;
}

/* Grouping content
 * ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari. */

figure {
	margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers. */

hr {
	box-sizing: content-box;
	height: 0;
}

/**
 * Contain overflow in all browsers. */

pre {
	overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers. */

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

/* Forms
 * ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set. */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome. */

button,
input,
optgroup,
select,
textarea {
	color: inherit; /* 1 */
	font: inherit; /* 2 */
	margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11. */

button {
	overflow: visible;
	text-transform: none;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox. */

select {
	text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others. */

button,
html input[type="button"] {
	-webkit-appearance: button; /* 2 */
	cursor: pointer; /* 3 */
}

input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button; /* 2 */
	cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements. */

button[disabled],
html input[disabled] {
	cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+. */

button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: textfield; /* 1 */
	box-sizing: content-box; /* 2 */
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet. */

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10. */

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`. */

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome. */

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance). */

/**
 * Define consistent border, margin, and padding. */

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: .35em .625em .75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets. */

legend {
	border: 0; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11. */

textarea {
	overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X. */

optgroup {
	font-weight: bold;
}

/* Tables
 * ========================================================================== */

/**
 * Remove most spacing between table cells. */

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.ellipsis {
	white-space: nowrap; /* 1 */
	text-overflow: ellipsis; /* 2 */
	overflow: hidden;
}

html {
	box-sizing: border-box;
}

* {
	box-sizing: inherit;
	max-height: 1000000px;
}

*:before,
*:after {
	box-sizing: inherit;
}

body {
	color: #333;
	background: #fff;
	font: 16px/1.2 "Arial", "Helvetica Neue", "Helvetica", sans-serif;
	min-width: 320px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.resize-active > #nav {
	-webkit-transition: none;
	transition: none;
}

img {
	max-width: 100%;
	height: auto;
}

.gm-style img {
	max-width: none;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.h {
	font-family: inherit;
	font-weight: bold;
	margin: 0 0 .5em;
	color: inherit;
}

h1,
.h1 {
	font-size: 30px;
}

h2,
.h2 {
	font-size: 27px;
}

h3,
.h3 {
	font-size: 24px;
}

h4,
.h4 {
	font-size: 21px;
}

h5,
.h5 {
	font-size: 17px;
}

h6,
.h6 {
	font-size: 15px;
}

p {
	margin: 0 0 1em;
}

a {
	color: #39f;
}

a:hover,
a:focus {
	text-decoration: none;
}

form,
fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="search"],
input[type="password"] {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	box-sizing: border-box;
	border: 1px solid #999;
	padding: .4em .7em;
}

textarea {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	box-sizing: border-box;
	border: 1px solid #999;
	padding: .4em .7em;
}

input[type="text"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder {
	color: #999;
}

textarea::-webkit-input-placeholder {
	color: #999;
}

input[type="text"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
input[type="password"]::-moz-placeholder {
	opacity: 1;
	color: #999;
}

textarea::-moz-placeholder {
	opacity: 1;
	color: #999;
}

input[type="text"]:-moz-placeholder,
input[type="tel"]:-moz-placeholder,
input[type="email"]:-moz-placeholder,
input[type="search"]:-moz-placeholder,
input[type="password"]:-moz-placeholder {
	color: #999;
}

textarea:-moz-placeholder {
	color: #999;
}

input[type="text"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder {
	color: #999;
}

textarea:-ms-input-placeholder {
	color: #999;
}

input[type="text"].placeholder,
input[type="tel"].placeholder,
input[type="email"].placeholder,
input[type="search"].placeholder,
input[type="password"].placeholder {
	color: #999;
}

textarea.placeholder {
	color: #999;
}

select {
	-webkit-border-radius: 0;
}

textarea {
	resize: vertical;
	vertical-align: top;
}

button {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	cursor: pointer;
}

input[type="button"],
input[type="reset"],
input[type="file"],
input[type="submit"] {
	cursor: pointer;
}

input[type="search"],
input[type="email"],
input[type="text"] {
	float: left;
	font-size: 12px;
	line-height: 14px;
	color: #666;
	width: 65%;
	margin: 0;
	padding: 5px 7px;
	border: 3px solid #e8e5de;
	border-radius: 7px;
	box-shadow: inset 0 0 2px #000;
	background: -webkit-linear-gradient(top, white 0%, #f4f3f1 100%);
	background: linear-gradient(to bottom, white 0%, #f4f3f1 100%);
	outline: 0;
}

input[type="submit"] {
	float: right;
	width: 66px;
	margin: 3px 0 0 0;
	border: solid 1px #0c932f;
	border-width: 1px 0 0 1px;
	box-shadow: inset 1px 1px 1px #81de41, 0 0 0 3px #e8e5de;
	border-radius: 4px;
	background: -webkit-linear-gradient(top, #66c13e 0%, #0f941a 100%);
	background: linear-gradient(to bottom, #66c13e 0%, #0f941a 100%);
	color: #fff;
	text-shadow: 0 -2px #1e7e20;
	font: 12px/17px "Klavika Medium";
	text-transform: uppercase;
	padding: 3px 9px;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}

input[type="submit"]:hover {
	opacity: .7;
}

input[type="email"] {
	margin: 0 0 7px;
	width: 100%;
}

.row input[type="search"],
.row input[type="text"] {
	float: left;
	width: 65%;
	margin: 0;
}

/* custom select styles */

.jcf-select {
	display: inline-block;
	vertical-align: top;
	position: relative;
	border: 3px solid #e8e5de;
	border-radius: 7px;
	box-shadow: inset 0 0 2px #000;
	background: -webkit-linear-gradient(top, white 0%, #f4f3f1 100%);
	background: linear-gradient(to bottom, white 0%, #f4f3f1 100%);
	margin: 0 0 12px;
	min-width: 197px;
}

.jcf-select select {
	z-index: 1;
	left: 0;
	top: 0;
}

.jcf-select .jcf-select-text {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	cursor: default;
	display: block;
	font-size: 11px;
	line-height: 23px;
	color: #999;
	margin: 0 35px 0 8px;
	cursor: pointer;
}

.jcf-select .jcf-select-opener {
	position: absolute;
	text-align: center;
	background: #615b49;
	width: 21px;
	bottom: 3px;
	right: 4px;
	top: 3px;
	border-radius: 3px;
	cursor: pointer;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}

.jcf-select .jcf-select-opener:hover {
	background: #000;
}

.jcf-select .jcf-select-opener:after {
	content: "";
	position: absolute;
	border: 6px solid transparent;
	border-top: 6px solid #fff;
	bottom: 0;
	left: 22%;
}

body > .jcf-select-drop {
	position: absolute;
	margin: -1px 0 0;
	z-index: 9999;
}

body > .jcf-select-drop.jcf-drop-flipped {
	margin: 1px 0 0;
}

.jcf-select .jcf-select-drop {
	position: absolute;
	margin-top: 0;
	z-index: 9999;
	top: 100%;
	left: -1px;
	right: -1px;
	border: 1px solid red;
}

.jcf-select .jcf-drop-flipped {
	bottom: 100%;
	top: auto;
}

.jcf-select-drop .jcf-select-drop-content {
	border: 3px solid #6b685e;
	border-radius: 5px;
}

/* multiple select styles */

.jcf-list-box {
	overflow: hidden;
	display: inline-block;
	border: 1px solid #b8c3c9;
	min-width: 200px;
	margin: 0 15px;
}

/* select options styles */

.jcf-list {
	display: inline-block;
	vertical-align: top;
	position: relative;
	background: #fff;
	line-height: 14px;
	font-size: 12px;
	width: 100%;
}

.jcf-list .jcf-list-content {
	vertical-align: top;
	display: inline-block;
	overflow: auto;
	width: 100%;
}

.jcf-list ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.jcf-list ul li {
	overflow: hidden;
	display: block;
}

.jcf-list .jcf-overflow {
	overflow: auto;
}

.jcf-list .jcf-option {
	white-space: nowrap;
	overflow: hidden;
	cursor: default;
	display: block;
	padding: 5px 9px;
	color: #656565;
	height: 1%;
}

.jcf-list .jcf-disabled {
	background: #fff !important;
	color: #aaa !important;
}

.jcf-select-drop .jcf-hover,
.jcf-list-box .jcf-selected {
	background: #e6e6e6;
	color: #000;
}

.jcf-list .jcf-optgroup-caption {
	white-space: nowrap;
	font-weight: bold;
	display: block;
	padding: 5px 9px;
	cursor: default;
	color: #000;
}

.jcf-list .jcf-optgroup .jcf-option {
	padding-left: 30px;
}

/* common custom form elements styles */

.jcf-disabled {
	background: #ddd !important;
}

.jcf-focus {
	color: #000;
}

.jcf-focus * {
	color: #000;
}

html {
	height: 100%;
}

body {
	font-family: "Arial", "Helvetica Neue", "Helvetica", sans-serif;
	margin: 0;
	height: 100%;
	width: 100%;
	display: table;
	table-layout: fixed;
	background: url(../images/bg.jpg);
}

#wrapper {
	display: table-cell;
}

.w1 {
	max-width: 1010px;
	min-width: 320px;
	padding: 0 10px;
	margin: 0 auto 17px;
}

.header {
	font-family: "zurich_condensed_bt";
	margin: 0 0 11px;
	position: relative;
}

.header .container {
	overflow: hidden;
	padding: 16px 0 21px 26px;
}

.header .holder {
	float: right;
	text-align: right;
}

.header .info {
	margin: 0 0 15px;
	font-size: 12px;
	line-height: 14px;
}

.header .info span {
	display: block;
}

.header .tel {
	color: #000;
	text-decoration: none;
	font-size: 20px;
	line-height: 22px;
	font-family: inherit;
	font-weight: 300;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}

.header .tel:hover {
	opacity: .7;
}

.logo {
	padding: 3px 0 0;
	float: left;
}

.top-nav ul {
	font-size: 13px;
	line-height: 15px;
	text-transform: uppercase;
	list-style: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.top-nav li {
	float: left;
	padding: 0 0 0 15px;
}

.top-nav li.active {
	color: #6ac166;
}

.top-nav a {
	color: #209a28;
	text-decoration: none;
}

.top-nav a:hover {
	color: #6ac166;
}

.nav-bar .nav-opener {
	display: none;
	position: absolute;
	top: 20px;
	right: 0;
	text-transform: uppercase;
	color: #0c932f;
	text-decoration: none;
	font: 600 20px/20px "zurich_condensed_bt";
	text-shadow: 1px 1px 1px #fff;
}

#nav {
	border-left: solid 1px #0c932f;
	border-top: solid 1px #0c932f;
	box-shadow: inset 1px 1px 1px #81de41;
	border-radius: 4px;
	background: -webkit-linear-gradient(top, #66c13e 0%, #0f941a 100%);
	background: linear-gradient(to bottom, #66c13e 0%, #0f941a 100%);
}

#nav ul {
	display: table;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	text-transform: uppercase;
	text-align: center;
	text-shadow: 0 -2px 1px #1c7c1f;
	font-weight: 700;
}

#nav ul li {
	padding: 10px 0;
	display: table-cell;
}

#nav ul li a {
	color: #fff;
	text-decoration: none;
}

#nav ul li a:hover {
	opacity: .7;
}

.breadcrumbs {
	list-style: none;
	margin: 0 0 4px;
	padding: 0 0 0 19px;
	overflow: hidden;
	font-size: 12px;
	line-height: 20px;
	color: #14961c;
	text-shadow: 1px 1px 0 #fff;
}

.breadcrumbs li {
	float: left;
	padding: 0 4px;
}

.breadcrumbs li a {
	color: #595447;
}

.twocolumn {
	border: solid 1px #e1dbce;
	border-radius: 5px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	overflow: hidden;
}

#content {
	overflow: hidden;
	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
	-webkit-flex-direction: column-reverse;
	-ms-flex-direction: column-reverse;
	flex-direction: column-reverse;
	float: left;
	width: 75%;
	background: #fff;
	padding: 18px 18px 0 16px;
}

.carousel {
	position: relative;
	margin: 0 0 24px;
}

.carousel .mask {
	position: relative;
	overflow: hidden;
	width: 100%;
	border-radius: 11px;
}

.carousel .slideset {
	width: 99999px;
	float: left;
}

.carousel .slide {
	position: relative;
	height: 266px;
	float: left;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.carousel .slide .slide-text {
	position: absolute;
	right: 0;
	width: 34%;
	height: 266px;
	overflow: hidden;
	background: rgba(37, 29, 20, .9);
	padding: 17px 16px 40px 19px;
	color: #fff;
	font-size: 11px;
	line-height: 17px;
}

.carousel .slide .slide-text h1 {
	font-family: "zurich_condensed_bt";
	color: #28b028;
	margin: 0 0 15px;
	font-size: 32px;
	line-height: 34px;
	font-weight: 500;
}

.carousel .slide .slide-text h1 span {
	display: block;
	color: #fff;
	font-size: 22px;
	line-height: 24px;
}

.carousel .slide .slide-text p {
	padding: 0 17px 20px 0;
}

.carousel .slide .slide-text p a {
	color: #28b028;
	text-decoration: none;
}

.carousel .pagination {
	position: absolute;
	right: 86px;
	bottom: 16px;
	z-index: 4;
	list-style: none;
	font-size: 12px;
	line-height: 21px;
}

.carousel .pagination li {
	float: left;
	margin: 0 12px 0 0;
	text-align: center;
}

.carousel .pagination li.active a {
	background: -webkit-linear-gradient(top, #6cdf48 0%, #1c7c13 100%);
	background: linear-gradient(to bottom, #6cdf48 0%, #1c7c13 100%);
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
	box-shadow: none;
}

.carousel .pagination li a {
	width: 21px;
	height: 21px;
	background: #6b685e;
	display: block;
	color: #fff;
	text-decoration: none;
	border-radius: 50px;
	box-shadow: inset 1px -1px 1px #fff;
}

.carousel .pagination li a:hover {
	background: -webkit-linear-gradient(top, #6cdf48 0%, #1c7c13 100%);
	background: linear-gradient(to bottom, #6cdf48 0%, #1c7c13 100%);
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

.holidays {
	color: #444137;
	width: 64%;
}

.holidays h2 {
	font-family: "zurich_condensed_bt";
	font-size: 26px;
	line-height: 28px;
	font-weight: 500;
	text-transform: uppercase;
}

.holidays p {
	font-size: 12px;
	line-height: 20px;
}

.holidays p a {
	color: #28b028;
	font-weight: 600;
}

.js-tab-hidden {
	display: block !important;
	left: -9999px !important;
	position: absolute !important;
	top: -9999px !important;
}

.tab {
	position: relative;
}

.tab:before {
	content: "";
	position: absolute;
	background: url(../images/image-03.png);
	width: 187px;
	height: 133px;
	right: 47px;
	top: -133px;
	z-index: 11;
}

.tabset {
	letter-spacing: -.36em;
	padding: 0;
	margin: 0;
	text-align: center;
	font-family: "zurich_condensed_bt";
	background: -webkit-linear-gradient(top, white 0%, #f4f3f1 100%);
	background: linear-gradient(to bottom, white 0%, #f4f3f1 100%);
	border-radius: 5px;
	font-size: 18px;
	line-height: 20px;
}

.tabset li {
	display: inline-block;
	letter-spacing: 0;
	width: 33.33333%;
	list-style: none;
	position: relative;
}

.tabset li:first-child a {
	border-width: 1px;
	border-radius: 5px 0 0 5px;
}

.tabset li:last-child a {
	border-radius: 0 5px 5px 0;
}

.tabset li a {
	border: 1px solid #cfcdc5;
	border-width: 1px 1px 1px 0;
	color: #444137;
	text-decoration: none;
	padding: 8px 5px;
	display: block;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}

.tabset li a:hover {
	background: -webkit-linear-gradient(top, #66c13e 0%, #16981d 100%);
	background: linear-gradient(to bottom, #66c13e 0%, #16981d 100%);
	border: 1px solid #0c932f;
	text-shadow: 0 -2px #1f7e20;
	color: #fff;
}

.tabset li a:before {
	content: "";
	border: 6px solid transparent;
	border-left: 6px solid #43ac2d;
	display: inline-block;
	vertical-align: middle;
}

.tabset li a.active {
	background: -webkit-linear-gradient(top, #66c13e 0%, #16981d 100%);
	background: linear-gradient(to bottom, #66c13e 0%, #16981d 100%);
	border: 1px solid #0c932f;
	color: #fff;
	text-shadow: 0 -2px #1f7e20;
}

.tabset li a.active:before {
	display: none;
}

.tabset li a.active:after {
	content: "";
	position: absolute;
	border: 6px solid transparent;
	border-top: 6px solid #0f951e;
	bottom: -11px;
	left: 50%;
	margin: 0 0 0 -4px;
}

.tab-container {
	letter-spacing: -.36em;
	margin: 0 -11px;
	padding: 23px 0 0;
}

.tab-container .container {
	display: inline-block;
	vertical-align: top;
	width: 33.333%;
	letter-spacing: 0;
	padding: 0 11px;
	margin: 0 0 8px;
}

.tab-container .container img {
	border: 4px solid #e9e6df;
	border-radius: 6px;
}

.tab-container .container h3 {
	font-size: 14px;
	line-height: 20px;
}

.tab-container .container h3 a {
	text-decoration: none;
	color: #3a3731;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}

.tab-container .container h3 a:hover {
	opacity: .7;
}

.tab-container .container p {
	font-size: 12px;
	line-height: 18px;
}

#sidebar {
	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
	-webkit-flex-direction: column-reverse;
	-ms-flex-direction: column-reverse;
	flex-direction: column-reverse;
	float: right;
	width: 25%;
	background: #f4f2ec;
	padding: inherit;
	border-left: solid 1px #e1dbce;
	box-shadow: -1px -1px #fff;
}

#sidebar .col {
	padding: 21px;
	border-top: 1px solid #e1dbce;
}

#sidebar .col:first-child {
	border-top: none;
}

#sidebar .col .entry-form {
	font-size: 12px;
	line-height: 14px;
}

#sidebar .col .entry-form h3 {
	font-size: 14px;
	line-height: 16px;
	font-family: "MyriadProRegular";
	font-weight: 500;
	text-transform: uppercase;
}

#sidebar .col .entry-form .btn {
	font: 14px/17px "Klavika Medium";
	text-transform: uppercase;
	color: #fff;
	text-shadow: 0 -2px #1f7e20;
	background: url(../images/sprite.png) no-repeat 0 0;
	width: 202px;
	height: 42px;
	border: none;
	padding: 0 0 0 14px;
	margin: 0 0 22px;
	text-align: left;
	position: relative;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}

#sidebar .col .entry-form .btn:hover {
	opacity: .7;
}

#sidebar .col .entry-form .btn:before {
	content: "";
	position: absolute;
	background: url(../images/sprite.png) no-repeat -17px -61px;
	width: 15px;
	height: 15px;
	right: 38px;
	bottom: 13px;
}

#sidebar .col .entry-form .row {
	width: 100%;
	display: inline-block;
}

#sidebar .col .newsletter {
	font-size: 12px;
	line-height: 14px;
}

#sidebar .col .newsletter h3 {
	font-size: 14px;
	line-height: 16px;
	font-family: "MyriadProRegular";
	text-transform: uppercase;
}

#sidebar .col .news-list {
	font-size: 12px;
	line-height: 14px;
}

#sidebar .col .news-list h3 {
	font-size: 14px;
	line-height: 16px;
	font-family: "MyriadProRegular";
	text-transform: uppercase;
}

#sidebar .col .news-list a {
	color: #333;
	text-decoration: none;
}

#sidebar .col .news-list a:hover {
	opacity: .7;
}

#sidebar .col .news-list .news {
	font-size: 12px;
	line-height: 18px;
}

#sidebar .col .news-list .news h4 {
	font-weight: bold;
	font-size: 12px;
	line-height: 18px;
}

.footer {
	width: 100%;
	overflow: hidden;
	display: table-footer-group;
	height: 1%;
	color: #757268;
}

.footer .container {
	max-width: 1010px;
	padding: 0 10px;
	border-radius: 5px;
	margin: 0 auto;
}

.footer .container .title {
	text-align: center;
	border-radius: 5px 5px 0 0;
	border-bottom: #635543;
	background: -webkit-linear-gradient(top, #999387 0%, #6f685e 100%);
	background: linear-gradient(to bottom, #999387 0%, #6f685e 100%);
	padding: 11px 10px 4px;
	font-style: italic;
	color: #fff;
	text-shadow: 1px 1px #252320;
	position: relative;
}

.footer .container .title h4 {
	font-size: 16px;
	line-height: 18px;
}

.footer .footer-holder {
	overflow: hidden;
	padding: 23px 0 14px;
	margin: 0 0 15px;
	background: #f4f2ec;
}

.footer .footer-holder .box {
	float: left;
	font-size: 12px;
	line-height: 18px;
	width: 25%;
	padding: 0 30px 0 21px;
	color: #757268;
	position: relative;
}

.footer .footer-holder .box:after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 1px;
	background: #d8d6ce;
	box-shadow: 1px 0 0 #fff;
}

.footer .footer-holder .box:first-child:after {
	display: none;
}

.footer .footer-holder .box.size {
	width: 50%;
}

.footer .footer-holder .box h4 {
	text-transform: uppercase;
	font: 14px/18px "Klavika Medium";
	text-transform: uppercase;
	color: #64522a;
}

.footer .footer-holder .box .twitter {
	position: relative;
}

.footer .footer-holder .box .twitter:after {
	content: "";
	display: inline-block;
	vertical-align: top;
	background: url(../images/sprite.png) no-repeat -7px -131px;
	width: 34px;
	height: 18px;
	right: 0;
	top: 0;
}

.footer .footer-holder .box .facebook {
	text-indent: -9999px;
	display: block;
	background: url(../images/sprite.png) no-repeat -3px -85px;
	width: 195px;
	height: 33px;
}

.footer .footer-holder .box .facebook:hover {
	opacity: .7;
}

.footer .footer-holder .box .list {
	overflow: hidden;
	padding: 0;
	margin: 0;
	font-size: 12px;
	line-height: 20px;
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
	list-style: none;
}

.footer .footer-holder .box .list li a {
	text-decoration: none;
	color: #757268;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}

.footer .footer-holder .box .list li a:hover {
	color: #000;
}

.footer .footer-holder .box .info {
	overflow: hidden;
	padding: 0;
	margin: 0 0 31px;
}

.footer .footer-holder .box .info a {
	text-decoration: none;
	color: #757268;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}

.footer .footer-holder .box .info a:hover {
	color: #000;
}

.footer .footer-holder .box .info dt {
	font-weight: bold;
	float: left;
	padding: 0;
	margin: 0 5px 0 0;
}

.footer .footer-holder .box .info dd {
	padding: 0;
	margin: 0;
}

.footer .footer-holder .box address {
	font-style: normal;
}

.footer .footer-area {
	text-align: center;
	font-size: 11px;
	line-height: 18px;
}

.footer .footer-area strong {
	color: #3a3731;
}

.footer .footer-area p {
	margin: 0 0 10px;
}

@media (max-width: 1023px) {
	#content {
		width: 70%;
	}

	.tab:before {
		right: 0;
	}

	#sidebar {
		width: 30%;
	}

	#sidebar .col {
		padding: 21px 10px;
	}

	.carousel .slide .slide-text h1 {
		margin: 0;
	}

	.carousel .pagination {
		right: 15px;
		bottom: 0;
	}

	.footer .footer-holder .box:first-child {
		width: 30%;
	}

	.footer .footer-holder .box.size {
		width: 40%;
	}

	.footer .footer-holder .box h4 {
		font-size: 12px;
	}
}

@media (max-width: 767px) {
	#header {
		margin: 0;
	}

	#header .container {
		padding: 10px 10px 0;
	}

	#header .holder {
		display: none;
	}

	.header .info {
		display: none;
	}

	.header .container {
		padding: 16px 0 21px 0;
	}

	.top-nav li {
		padding: 0 0 0 14px;
	}

	.top-nav li:first-child {
		padding: 0;
	}

	.logo {
		width: 60%;
	}

	.nav-bar.nav-active #nav {
		max-height: 2000px;
		opacity: 1;
	}

	.nav-bar .nav-opener {
		display: block;
	}

	#nav {
		-webkit-transition: max-height .3s ease-in-out, opacity .3s ease-in-out;
		transition: max-height .3s ease-in-out, opacity .3s ease-in-out;
		opacity: 0;
		max-height: 0;
	}

	#nav ul {
		display: block;
	}

	#nav ul li {
		display: block;
	}

	.twocolumn {
		display: block;
	}

	#content {
		width: 100%;
		float: none;
	}

	.carousel .slide .slide-text {
		float: none;
		width: 100%;
		background: rgba(37, 29, 20, .5);
		border-radius: 6px;
	}

	.carousel .pagination {
		right: 20px;
	}

	.holidays {
		width: 100%;
	}

	.tab:before {
		display: none;
	}

	.tab-container .container {
		width: 50%;
		text-align: center;
	}

	.tabset {
		font-size: 14px;
	}

	.tabset li a {
		padding: 4px;
	}

	#sidebar {
		width: 100%;
		float: none;
	}

	#sidebar .col .entry-form {
		text-align: center;
	}

	#sidebar .col .entry-form .btn {
		display: block;
		margin: 0 auto 22px;
	}

	#sidebar .col .news-list {
		text-align: center;
	}

	.jcf-select {
		width: 40%;
		text-align: left;
	}

	#sidebar .col .entry-form .row {
		text-align: center;
	}

	.row input[type="search"],
	.row input[type="text"],
	.row input[type="email"] {
		width: 40%;
		float: none;
	}

	input[type="submit"] {
		float: none;
	}

	.footer .footer-holder {
		text-align: center;
	}

	.footer .footer-holder .box {
		width: 100%;
	}

	.footer .footer-holder .box:first-child {
		width: 100%;
		margin: 0 0 10px;
	}

	.footer .footer-holder .box .facebook {
		margin: 0 auto;
	}

	.footer .footer-holder .box.size {
		width: 100%;
		margin: 0 0 10px;
	}

	.footer .footer-holder .box .list {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}

	.footer .footer-holder .box .info {
		margin: 0 0 10px;
	}

	.footer .footer-holder .box .info dt {
		float: none;
	}
}

@media (max-width: 479px) {
	.header {
		margin: 0 0 5px;
	}

	.header .container {
		padding: 9px 0 0;
	}

	.logo {
		width: 50%;
	}

	.header .holder {
		padding: 5px 0 0;
	}

	.tabset li a:before {
		display: none;
	}

	.tab-container .container {
		width: 100%;
		text-align: center;
	}

	#sidebar .col .entry-form {
		text-align: center;
	}
}
