@font-face {
    font-family: 'zurich_condensed_bt';
    src: url('../fonts/zurich__condensed_bt-webfont.eot');
    src: url('../fonts/zurich__condensed_bt-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/zurich__condensed_bt-webfont.woff') format('woff'),
        url('../fonts/zurich__condensed_bt-webfont.ttf') format('truetype'),
        url('../fonts/zurich__condensed_bt-webfont.svg#zurich_condensed_bt') format('svg');
}

@font-face {
    font-family: 'MyriadProRegular';
    src: url('../fonts/MyriadProRegular.eot');
    src: url('../fonts/MyriadProRegular.eot?#iefix')format('embedded-opentype'),
    url('../fonts/MyriadProRegular.woff') format('woff'),
    url('../fonts/MyriadProRegular.ttf') format('truetype');
}

@font-face {
    font-family: 'Klavika Medium';
    src: url('http://db.onlinewebfonts.com/t/acac70fdb7ecef747e2185d85dbbbbfd.eot');
    src: url('http://db.onlinewebfonts.com/t/acac70fdb7ecef747e2185d85dbbbbfd.eot?#iefix') format('embedded-opentype'),
    url('http://db.onlinewebfonts.com/t/acac70fdb7ecef747e2185d85dbbbbfd.woff2') format('woff2'),
    url('http://db.onlinewebfonts.com/t/acac70fdb7ecef747e2185d85dbbbbfd.woff') format('woff'),
    url('http://db.onlinewebfonts.com/t/acac70fdb7ecef747e2185d85dbbbbfd.ttf') format('truetype'),
    url('http://db.onlinewebfonts.com/t/acac70fdb7ecef747e2185d85dbbbbfd.svg#Klavika Medium') format('svg');
}