@font-face {
    font-family: 'helveticaneuecyrroman';
    src: url('../helveticaneuecyr-roman-webfont.eot');
    src: url('../helveticaneuecyr-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('../helveticaneuecyr-roman-webfont.woff2') format('woff2'),
         url('../helveticaneuecyr-roman-webfont.woff') format('woff'),
         url('../helveticaneuecyr-roman-webfont.ttf') format('truetype'),
         url('../helveticaneuecyr-roman-webfont.svg#helveticaneuecyrroman') format('svg');
}
@font-face {
    font-family: 'helveticaneuecyrthin';
    src: url('../fonts/helveticaneuecyr-thin-webfont.eot');
    src: url('../fonts/helveticaneuecyr-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneuecyr-thin-webfont.woff') format('woff'),
         url('../fonts/helveticaneuecyr-thin-webfont.ttf') format('truetype'),
         url('../fonts/helveticaneuecyr-thin-webfont.svg#helveticaneuecyrthin') format('svg');
}
@font-face {
    font-family: 'helveticaneuecyrbold';
    src: url('../helveticaneuecyr-bold-webfont.eot');
    src: url('../helveticaneuecyr-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../helveticaneuecyr-bold-webfont.woff2') format('woff2'),
         url('../helveticaneuecyr-bold-webfont.woff') format('woff'),
         url('../helveticaneuecyr-bold-webfont.ttf') format('truetype'),
         url('../helveticaneuecyr-bold-webfont.svg#helveticaneuecyrbold') format('svg');
}
@font-face {
    font-family: 'helveticaneuecyrthin_italic';
    src: url('../fonts/helveticaneuecyr-thinitalic-webfont.eot');
    src: url('../fonts/helveticaneuecyr-thinitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneuecyr-thinitalic-webfont.woff') format('woff'),
         url('../fonts/helveticaneuecyr-thinitalic-webfont.ttf') format('truetype'),
         url('../fonts/helveticaneuecyr-thinitalic-webfont.svg#helveticaneuecyrthin_italic') format('svg');
}